@import url("https://fonts.googleapis.com/css?family=Raleway");
html { 
    background: url(./css/img/ico.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header{
    text-align: center;
    padding: 1em;
    color:rgb(0, 0, 0);
}
header img{
    float: right;
    width: 250px;
    padding-right: 2em;
}
body{
    font-family: 'Raleway', sans-serif;
    padding:0;
    margin:0;
}
.container{
    width:80%;
    max-width:1200px;
    margin:auto;
    color:rgb(14, 13, 13);
}
header nav{
    text-decoration: none;
    float: left;
    
}
nav a:hover{
    background-color: rgb(214, 214, 214);
    color: rgb(1, 26, 7);
}
footer{
    padding-top: 9em;
    text-align: center;
}
.tiedotus{
    font-size: 40px;
    float: center;
    padding-top: 4em;
    padding-left: 1em;
}
.palvelut{
    padding-top: 100px;
    padding-left: 6em;
}
#newsletter{
    float: right;
    padding-right: 2em;
}
nav a{
    color: black;
    padding-left: 2em;
}